@use "../abstract/variables" as var;

.fa-name {
  color: var.$tumblr;
}

.header-pro {
  transition: 400ms;
  animation: color-changes 10s ease;
  cursor: pointer;
}

.badge {
  transition: 300ms;
  animation: badge-changes 5s linear;
  cursor: pointer;
}
