@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Merriweather&family=PT+Serif&family=Poppins&family=Sen&family=Tilt+Prism&family=Zilla+Slab:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Merriweather&family=PT+Serif&family=Poppins&family=Sen&family=Tilt+Prism&family=Zilla+Slab:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Merriweather&family=PT+Serif&family=Poppins&family=Sen&family=Tilt+Prism&family=Zilla+Slab:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Merriweather&family=PT+Serif&family=Poppins&family=Sen&family=Tilt+Prism&family=Zilla+Slab:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Merriweather&family=PT+Serif&family=Poppins&family=Sen&family=Tilt+Prism&family=Zilla+Slab:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Merriweather&family=PT+Serif&family=Poppins&family=Sen&family=Tilt+Prism&family=Zilla+Slab:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Merriweather&family=PT+Serif&family=Poppins&family=Sen&family=Tilt+Prism&family=Zilla+Slab:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Merriweather&family=PT+Serif&family=Poppins&family=Sen&family=Tilt+Prism&family=Zilla+Slab:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Merriweather&family=PT+Serif&family=Poppins&family=Sen&family=Tilt+Prism&family=Zilla+Slab:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Merriweather&family=PT+Serif&family=Poppins&family=Sen&family=Tilt+Prism&family=Zilla+Slab:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Merriweather&family=PT+Serif&family=Poppins&family=Sen&family=Tilt+Prism&family=Zilla+Slab:ital,wght@0,400;1,300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Libre+Baskerville&family=Merriweather&family=PT+Serif&family=Poppins&family=Sen&family=Tilt+Prism&family=Zilla+Slab:ital,wght@0,400;1,300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.fa-name {
  color: #35465d;
}

.header-pro {
  transition: 400ms;
  animation: color-changes 10s ease;
  cursor: pointer;
}

.badge, .badge-title {
  transition: 300ms;
  animation: badge-changes 5s linear;
  cursor: pointer;
}

@keyframes color-changes {
  0% {
    color: #db4439;
  }
  25% {
    color: #4285f4;
  }
  50% {
    color: #25d366;
  }
  75% {
    color: #1ab7ea;
  }
  100% {
    color: #4c585c;
  }
}
@keyframes badge-changes {
  0% {
    color: #ea4c89;
  }
  50% {
    color: #1da1f2;
  }
}
@keyframes code {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    color: #5e72e4;
  }
}
@keyframes heart {
  0% {
    transform: rotate(0deg);
  }
  50% {
    color: #ea4c89;
  }
  100% {
    transform: rotate(360deg);
    color: #ff4500;
  }
}
@keyframes lap {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    color: #e83e8c;
  }
}
@keyframes rotate-skills {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    color: #e83e8c;
  }
}
.header-btn {
  padding: 0.8rem;
  color: #ea4c89;
  background-color: #33cb9d;
  border: none;
  outline: none;
}
.header-btn:hover {
  color: #35465d;
  background-color: #ea4c89;
}

.badge, .badge-title {
  padding: 3px;
  border-radius: 0.3rem;
}
.badge-title {
  color: #35465d;
  background-color: #20c997;
}

.header {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}
.header-title {
  font-family: "Zilla Slab", serif;
  font-weight: 400;
  color: #35465d;
}
.header-pro {
  color: #20c997;
  margin: 5px;
  font-size: 0.8em;
}
.header-menu {
  display: flex;
  list-style-type: none;
}
.header-menu-item > a {
  margin: 1.3rem;
  text-transform: uppercase;
  color: #4c585c;
  font-weight: 600;
  transition: 300ms;
}
.header-menu-item > a.active {
  color: #1ab7ea;
}
.header-menu-item > a:hover {
  color: #20c997;
}

.home-animations {
  position: relative;
}
.home-animations .code {
  position: absolute;
  font-size: 1.6em;
  color: #00aff0;
  right: 25%;
  width: 20px;
  height: 20px;
  background-color: transparent;
  animation: code ease-in 5s;
}
.home-animations .lap {
  position: absolute;
  left: 20%;
  bottom: 8%;
  font-size: 1.5em;
  color: #1ed760;
  width: 20px;
  height: 20px;
  animation: lap linear 5s;
}
.home-animations .heart {
  position: absolute;
  left: 46%;
  z-index: 1;
  bottom: 45%;
  position: absolute;
  font-size: 1.8em;
  color: #ee3232;
  width: 20px;
  height: 20px;
  background-color: transparent;
  animation: heart linear 5s infinite;
}

.home {
  padding: 2rem;
  margin: auto;
}
.home-name {
  text-align: left;
  color: #3065d0;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.home-profession {
  color: #20c997;
  text-align: left;
  margin-bottom: 15px;
}
.home-description {
  color: #ea4c89;
  text-align: justify;
  font-size: medium;
  font-weight: 600;
  margin-bottom: 15px;
}
.home-img {
  border: 2px solid #3065d0;
  border-radius: 5px;
  padding: auto;
}

.about {
  background-color: #3065d0;
}
.about-head {
  padding: 3em 3em;
}
.about-img {
  border-radius: 10px;
  border: 3px solid #3065d0;
}
.about-me {
  color: #1da1f2;
  font-family: "Poppins", sans-serif;
  text-align: left;
  font-size: 2em;
}
.about-title {
  color: black;
  font-family: "Zilla Slab", serif;
  font-weight: bold;
  text-transform: capitalize;
  word-spacing: wrap;
  text-align: justify;
}
.about-title:hover {
  color: #ea4c89;
  cursor: pointer;
}

.skill {
  background-color: white;
}
.skill-header > h2 {
  font-family: "Merriweather", serif;
  color: black;
  font-weight: bolder;
  padding: 0.3em;
}
.skill-title > p {
  color: gray;
  font-weight: 400;
  font-family: "Zilla Slab", serif;
  font-size: 1.2em;
}
.skill-title > p:hover {
  color: #ea4c89;
  cursor: pointer;
}
.skill-line {
  font-family: "Sen", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  margin: auto;
  width: 50%;
  border-radius: 20px;
  background-image: linear-gradient(to right, #3065d0, #1ab7ea, #3065d0);
}
.skill-code {
  color: #35465d;
}
.skill-items {
  padding: 1em;
}
.skill-studies {
  position: relative;
  cursor: pointer;
}
.skill-studies:hover::after {
  border: 2.5px dotted #3065d0;
  animation: rotate-skills 5s linear infinite;
}
.skill-studies::after {
  position: absolute;
  left: 8px;
  top: 0px;
  content: "";
  width: 65%;
  height: 100%;
  border: 2px dotted #1ab7ea;
  border-radius: 100%;
}
.skill-img {
  position: relative;
  width: 70%;
  border-radius: 80%;
  padding: 1em;
  opacity: 1;
}

.works {
  background-color: #3065d0;
}
.works-header {
  padding: 1em;
  font-family: "Merriweather", serif;
  color: black;
  font-weight: bolder;
  text-align: center;
  overflow: hidden;
}

.card:hover {
  transition: 1000ms;
  transform: scale(0.9);
  cursor: pointer;
}
.card-title {
  color: #007bb6;
}
.card-body {
  color: #35465d;
}
.card-body:hover {
  color: #3065d0;
  background-color: #ea4c89;
}
.card .btn, .card .btn-primary {
  background-color: #1ab7ea;
  outline: none;
  border: none;
}
.card .btn-primary {
  color: white;
  text-transform: capitalize;
}

.footer {
  margin-top: 20px;
  border: 0px solid black;
  padding: 20px;
}
.footer-card-header {
  font-size: 1.8em;
  font-weight: 400;
  font-family: "Zilla Slab", serif;
  background-color: gray;
  margin-bottom: 10px;
}
.footer-card-icons {
  cursor: pointer;
  margin-bottom: 10px;
}
.footer .fa-facebook {
  color: #3b5998;
  margin: 3px;
}
.footer .fa-instagram {
  color: #c32aa3;
  margin: 3px;
}
.footer .fa-whatsapp {
  color: #25d366;
  margin: 3px;
}
.footer .fa-linkedin {
  color: #007bb6;
  margin: 3px;
}/*# sourceMappingURL=Main.css.map */